* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;

  line-height: 1.25;
  background-color: #1b263b;
  color: #e0e1dd;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.buffer{
  border-radius: 10px;
}

h1 {
  font-size: 96px;
  display: inline-block;

  font-weight: bold;
}

p{
  font-size: 14px;
}

a {
  color: #e0e1dd;
}

.bio > h2 {
  width: 830px;
}

hr {
  background-color: #e5989b;
  height: 2px;
  border: none;
}

button,
select,
option,
input {
  background-color: #5c677d;
  color: #e0e1dd;
  font-size: 20px;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  border: 0;
}

input {
  max-width: 200px;
  width: 100%;
}

.filter{
  margin-top: 20px;
}
button, select{
  background-image: linear-gradient(to right, #6b4e71, #53687e);
}

button:hover {
  transform: translateY(2px);
  opacity: 0.9;
  transition: 0.3s;
}

.list p{
  padding: 10px;
  font-size: 24px;
}

option:checked {
  opacity: 0.9;
}

div {
  padding: 10px;
  margin: 25px;

  border-radius: 10px;
}

.reminder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  max-width: 1100px;
  max-height: 100px;
  width: 100%;
  height: 90%;
  padding: 20px;
}

.reminder p{
  max-width: 300px;
  font-size: 30px;
}


.stack {
  border: none;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack p{
  margin-left: 20px;
}

input::placeholder {
  color: #e0e1dd;
}

.tm {
  padding-left: 25px;
}

img {
  max-height: 30px;
  max-width: 33px;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typeIndicator {
  background-color: #5c677d;
  color: #e0e1dd;
}

form > div {
  margin: 0;
  padding: 0;
}



.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #778da9;
  padding: 30px;
  max-width: 1100px;
  width: 95%;
}

ul {
  padding: 25px;
  font-size: 20px;
}

.hidden{
  display: none !important;
}

.buttons {
  width: max-content;
  display: flex;
  align-items: center;
  margin: 0;
}

@media (max-width: 1200px) {
  .reminder p {
    font-size: 20px;
  }
  .buttons {
    height: 50px;
    font-size: 16px;
  }
  .buttons button {
    height: 35px;
  }
}

@media (max-width: 850px) {
  .reminder p {
    font-size: 16px;
  }
  .buttons button {
    font-size: 15px;
  }
  form,
  input,
  select,
  .contact button {
    margin: 10px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 60px;
  }

  .reminder p {
    font-size: 14px;
  }
  .buttons button {
    font-size: 11px;
  }
  .buttons {
    height: 70px;
  }
}
